*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: 500;
}
.calculator{
    margin: auto;
    margin-top: 40px;
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    
}

.calculator__keys{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    
}

button{
    border: 1.5px solid rgb(255, 255, 255);
}
button:hover{
    background: rgb(255, 255, 255);
}
[data-num]{
    background-color:rgba(211, 241, 255, 0.863);
}
[data-operator], [data-output], [data-all-clear], [data-delete]{
    background:rgb(248, 203, 229) ;
}

[data-output]{
    grid-column: 4 ;
    grid-row: 4/ 6;
}
[data-num]:nth-child(17){
    grid-column: 1/3;
}
.calculator_display{
    grid-column: 1/-1;
    background: rgba(235, 235, 235, 0.582);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    color: white;
    height: 80px;
}